name: Execute Test on EC2

on:
  push:

jobs:
  execute-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        # To use this action, you have to set AWS IAM Role AmazonSSMFullAccess to your IAM user.
        # Also your EC2 Instance must have IAM Role including AmazonSSMFullAccess.

      - name: create foo file
        run: touch fooFile
      - run: touch ./ssh_key.pub
      - run: echo ${{ secrets.SSH_KEY }} > ./ssh_key.pub

      # - name: copy file via ssh password
      #   uses: appleboy/scp-action@v0.1.4
      #   with:
      #     host: ec2-54-218-215-47.us-west-2.compute.amazonaws.com
      #     username: ec2-user
      #     password: ${{ secrets.SSH_KEY }}
      #     # port: ${{ secrets.PORT }}
      #     source: "fooFile"
      #     target: /home/ec2-user/quang/
      - name: Transfer file
        run: scp -i ./ssh_key.pub -r ./fooFile ec2-user@i-0455b38380a0ec4e9:/home/ec2-user/quang/

      - name: AWS SSM send-command
        uses: peterkimzz/aws-ssm-send-command@master
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          instance-ids: ${{ secrets.EC2_INSTANCE_ID }}

          working-directory: /home/ec2-user/
          command: echo hi
          comment: Hello world!
