name: Execute Test on EC2

on:
  push:

jobs:
  execute-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # - name: check existence
      #   run: ls -la
      # - name: copy file via ssh password
      #   uses: appleboy/scp-action@v0.1.3
      #   with:
      #     host: 192.168.3.47
      #     username: ec2-user
      #     password: ${{ secrets.SSH_KEY }}
      #     source: ./fly.toml
      #     target: quang/

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2

      - name: Install SSM
        run: sudo yum install -y https://s3.amazonaws.com/session-manager-downloads/plugin/latest/linux_64bit/session-manager-plugin.rpm

      - name: Copy fly.toml file to EC2 Instance
        run: scp -i ${{ secrets.SSH_KEY }} -r ./fly.toml ec2-user@${{ secrets.EC2_INSTANCE_ID }}:/home/ec2-user/quang

      # To use this action, you have to set AWS IAM Role AmazonSSMFullAccess to your IAM user.
      # Also your EC2 Instance must have IAM Role including AmazonSSMFullAccess.
      - name: AWS SSM send-command
        uses: peterkimzz/aws-ssm-send-command@master
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          instance-ids: ${{ secrets.EC2_INSTANCE_ID }}

          working-directory: /home/ec2-user/quang
          command: echo hi
          comment: Hello world!
