name: Execute Test on EC2

on:
  push:

jobs:
  execute-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Copy files to EC2
        run: aws s3 cp fly.toml s3://server-integration-test-artifacts/

      # To use this action, you have to set AWS IAM Role AmazonSSMFullAccess to your IAM user.
      # Also your EC2 Instance must have IAM Role including AmazonSSMFullAccess.
      - name: AWS SSM send-command
        uses: peterkimzz/aws-ssm-send-command@master
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          instance-ids: ${{ secrets.EC2_INSTANCE_ID }}

          working-directory: /home/ec2-user/quang
          comment: Hello world!
          command: |
            aws s3 cp s3://server-integration-test-artifacts/fly.toml .
