name: Hello World!

on:
  push:
    branches:
      - master
      # note that your "main" branch might be called main instead of master

jobs:
  hello_world_job:
    runs-on: ubuntu-20.04
    steps:
      - name: generate ssh-key file
        run: |
          touch ssh_key.pem
          echo ${{ secrets.SSH_KEY }} > ssk_key.pem
          chmod 400 ~/.ssh/ssk_key.pem
      - name: connect to ec2
        run: |
          ssh -i ssk_key.pem ubuntu@${{ secrets.IP_ADDRESS }} "echo 'Hello World!'"
  job2:
    runs-on: ubuntu-20.04
    steps:
      - name: echo
        run: |
          echo "Hello from job 2!"
