name: Deployment pipeline

on:
  workflow_dispatch:
    inputs:
      tenant:
        description: "Tenant to run tests for"
        type: string
        required: true
      stage:
        description: "Stage to run tests on"
        type: choice
        required: true
        default: "beta"
        options:
          - "beta"
          - "dev"
  push:
  #   branches:
  #     - master

env:
  TENANT: ${{ github.event.inputs.tenant }}
  STAGE: ${{ github.event.inputs.stage }}

jobs:
  simple_deployement_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: test
        run: |
          KEY = $(echo SSH_KEY)
          SSH_KEY = ${{ secrets.SSH_KEY }}
