name: Deployment pipeline

on:
  workflow_dispatch:
    inputs:
      tenant:
        description: "Tenant to run tests for"
        type: string
        required: true
        default: "tenant"
      stage:
        description: "Stage to run tests on"
        type: choice
        required: true
        default: "beta"
        options:
          - "beta"
          - "dev"
  # push:
  #   branches:
  #     - master

# env:
#   TENANT: ${{ github.event.inputs.tenant }}
#   STAGE: ${{ github.event.inputs.stage }}

jobs:
  simple_deployement_pipeline:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # - name: Hide the inputs values to keep them private in the logs when running this workflow
      #   uses: levibostian/action-hide-sensitive-inputs@v1
      # - name: custom hiding
      #   uses: ./.github/actions/hide-inputs
      - name: print secrets
        run: echo stage-${{ github.event.inputs.stage }}
